assets/sprites/.DS_Store
assets/.DS_Store
assets/sprites/cursor/.DS_Store
assets/sprites/.DS_Store
assets/.DS_Store
assets/sprites/.DS_Store
assets/sprites/cards/.DS_Store
assets/sprites/cards/department A/.DS_Store
assets/sprites/cards/department B/.DS_Store
.DS_Store
assets/.DS_Store
